# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logfile.txt
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db